.login-container{
  
   
    /* Change the border color */
// .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
// .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
// .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
//   border-color: white !important;
// }

// /* Change the border width */
// .mdc-text-field--outlined:not(.mdc-text-field--disabled)
//   .mdc-notched-outline
//   .mdc-notched-outline__leading,
// .mdc-text-field--outlined:not(.mdc-text-field--disabled)
//   .mdc-notched-outline
//   .mdc-notched-outline__notch,
// .mdc-text-field--outlined:not(.mdc-text-field--disabled)
//   .mdc-notched-outline
//   .mdc-notched-outline__trailing {
//   border-width: 1.5px !important;
// }

// /* Change the border focused color */
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
// //   .mdc-notched-outline__leading,
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
// //   .mdc-notched-outline__notch,
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
// //   .mdc-notched-outline__trailing {
// //   border-color: purple !important;
// // }

// /* Change the border hover color */
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
// //   .mdc-notched-outline
// //   .mdc-notched-outline__leading,
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
// //   .mdc-notched-outline
// //   .mdc-notched-outline__notch,
// // .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover
// //   .mdc-notched-outline
// //   .mdc-notched-outline__trailing {
// //   border-color: red !important;
// // }
    
//     .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above
//     {
//         color: lightblue!important;;
//     }



//    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
//         color: white!important;;
//     }

//     .mat-form-field-appearance-outline .mat-form-field-outline {
//         color: white!important;
//       }
//     input.mat-input-element {
//         color: white!important;
//       }
    // .column {
    //     float: center;
    //     width: 33.33%;
    //     padding: 10px;
    //     height: 300px;
    // }
    .button{
        background-color: #85C2F9;
    }
    .text{
        font-size: 20px;
        margin-bottom: 1em;
        // color: white;
    }
    .bi-mouse{
        // color: white;
    }
}
